<header>
  
  <div class="content-skip">
    <a href="#main" class="skip-to">Skip to content</a>
  </div>

  <div class="top-section">

    <button id="navbarToggler" class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasHeader" aria-controls="offcanvasHeader"><svg class="me-2" width="24" height="16" viewBox="0 0 24 16" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0 0H24V2.66667H0V0ZM0 6.66667H24V9.33333H0V6.66667ZM0 13.3333H24V16H0V13.3333Z" fill="white"/></svg>Menu</button>

    <a id="main-logo" href="{{ '/' | url }}">myNet</a>

    <form id="header-search-form" class="form-inline d-flex header-search">
      <input id="header-search-input" class="form-control mr-sm-2" type="text" placeholder="Try &quot;flex&quot;" aria-label="Search">
      <button id="header-search-button" class="btn btn-outline-light header-search-btn d-inline-flex" type="button"><svg class="me-2" width="16" height="16" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.5 0C8.22391 0 9.87721 0.684819 11.0962 1.90381C12.3152 3.12279 13 4.77609 13 6.5C13 8.11 12.41 9.59 11.44 10.73L11.71 11H12.5L17.5 16L16 17.5L11 12.5V11.71L10.73 11.44C9.59 12.41 8.11 13 6.5 13C4.77609 13 3.12279 12.3152 1.90381 11.0962C0.684819 9.87721 0 8.22391 0 6.5C0 4.77609 0.684819 3.12279 1.90381 1.90381C3.12279 0.684819 4.77609 0 6.5 0ZM6.5 2C4 2 2 4 2 6.5C2 9 4 11 6.5 11C9 11 11 9 11 6.5C11 4 9 2 6.5 2Z" fill="white"/></svg>Search</button>
    </form>

    <div class="global-menu">
      <ul>
        <li><a href="#">About us</a></li>
        <li><a href="#">Departments</a></li>
        <li><a href="#">NCC website</a></li>
        <li><a href="#">Phonebook</a></li>
      </ul>
    </div>

    <div class="account-btn-wrapper">
      <button id="accountToggle" class="btn" data-target="#rightMenu">
        <svg style="width:24px;height:24px" viewBox="0 0 24 24"><path d="M12,19.2C9.5,19.2 7.29,17.92 6,16C6.03,14 10,12.9 12,12.9C14,12.9 17.97,14 18,16C16.71,17.92 14.5,19.2 12,19.2M12,5A3,3 0 0,1 15,8A3,3 0 0,1 12,11A3,3 0 0,1 9,8A3,3 0 0,1 12,5M12,2A10,10 0 0,0 2,12A10,10 0 0,0 12,22A10,10 0 0,0 22,12C22,6.47 17.5,2 12,2Z" /></svg>
        <span class="user-name">Account</span>
        <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/2238168/account.png"/>
      </button>
    </div>

  </div>

  <nav class="navbar navbar-expand-lg">
    <div class="collapse navbar-collapse fulltainer" id="navbar-main">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">People</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Learning and skills</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Technology</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Working at NCC</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Finance and budget</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Comms and insight</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Democratic services</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">Information governance</a>
        </li>
      </ul>
    </div>
  </nav>
  
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasHeader">
    <div class="offcanvas-header justify-content-end">
      <button type="button" class="offcanvas-close-button btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close main menu"></button>
    </div>
    <div class="offcanvas-body">
      <ul class="offcanvas-nav mx-auto">
        <li class="nav-item mx-3">
          <a href="{{ '/getting-started/' | url }}" class="nav-link">Getting started</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/forms/overview/' | url }}" class="nav-link">Forms</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/' | url }}" class="nav-link">Media creation</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/styles/colour' | url }}" class="nav-link">Styles</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/' | url }}" class="nav-link">Patterns</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/layouts/standard-page' | url }}" class="nav-link">Layouts</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/components/' | url }}" class="nav-link">Components</a>
        </li>
        <li class="nav-item mx-3">
          <a href="{{ '/' | url }}" class="nav-link">Community</a>
        </li>
      </ul>
    </div>
  </div>

</header>